In [35]:
name = "Ramata"
age = 25
print(f"{name} is {age} old.")

Ramata is 25 old.

In [36]:
print("{} is {} old".format(name,age))

Ramata is 25 old

In [37]:
x ="Fuck you.\tYour motherfuck."
print(x)

Fuck you.	Your motherfuck.

In [38]:
print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

In [39]:
print(r'Il love you.\nAnd all')

Il love you.\nAnd all

In [40]:
"helloMike".find("Mike")

5

In [41]:
list1 =[1,2,3,'boss']

In [42]:
list1.extend([3,5])
list1

[1, 2, 3, 'boss', 3, 5]

In [43]:
tuple1 = (1,2,3,4,5)

In [44]:
tuple1

(1, 2, 3, 4, 5)

In [45]:
tuple1.extend([2,3])

AttributeError: 'tuple' object has no attribute 'extend'

In [ ]:
list1

[1, 2, 3, 'boss', 3, 5]

In [ ]:
list1[0] = 10

In [ ]:
list1

[10, 2, 3, 'boss', 3, 5]

In [ ]:
tuple1[0] = 14

TypeError: 'tuple' object does not support item assignment

In [ ]:
del(list1[0])

In [ ]:
list1

[2, 3, 'boss', 3, 5]

In [ ]:
my_list = [1, 2, 3, 4, 5] 
my_list.insert(2, 6) 
print(my_list)

[1, 2, 6, 3, 4, 5]

In [ ]:
my_list.pop(2)

6

In [ ]:
my_list

[1, 2, 3, 4, 5]

In [ ]:
[1,2,3] + [1,1,1]

[1, 2, 3, 1, 1, 1]

In [ ]:
A = [1]
A.append([2,3,4,5])
A

[1, [2, 3, 4, 5]]

In [ ]:
i = 18
if i >= 18:
    print("Majeur")
elif i >= 15:
    print("Adolescent")
else:
    print("Enfant")

Majeur

In [ ]:
i = 0
while i < 10 :
    print("Je dois lever la main.")
    i=i+1

Je dois lever la main.
Je dois lever la main.
Je dois lever la main.
Je dois lever la main.
Je dois lever la main.
Je dois lever la main.
Je dois lever la main.
Je dois lever la main.
Je dois lever la main.
Je dois lever la main.

In [ ]:
v = 'je crois en Dieu.'
for i in v:
    print(i)

j
e

c
r
o
i
s

e
n

D
i
e
u
.

In [ ]:
liste = [1,5,10,15,20,25]
for i in liste:
    if i > 15:
        print("On stoppe la boucle")
        break
    print(i)

1
5
10
15
On stoppe la boucle

In [ ]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

In [ ]:
def plus(a):
    b=a+1
    return b
plus(5)

6

In [ ]:
len([sum([1,1,1])])

1

In [ ]:
L=[1,3,2]

sorted(L)b

[1, 2, 3]

In [ ]:
class Circle(object):
    # Constructor
    def __init__(self, radius=3, color='blue'):
        self.radius = radius
        self.color = color


    # Method
    def add_radius(self, r):
        self.radius = self.radius + r
        return self.radius

In [ ]:
x = 'GO'
if x == 'GO':
    print('GO')
else:
    print('Stop')
print('Mike')

GO
Mike

In [ ]:
x = 1
x = x > 5
x

False

In [ ]:
x=0
while x<2:
    print(x)
    x = x+1

0
1

In [ ]:
class Points(object): 
    def __init__(self, x, y): 
        self.x = x 
        self.y = y 
    def print_point(self): 
        print('x=', self.x, ' y=', self.y) 


p1 = Points(1, 2) 
p1.print_point()

x= 1  y= 2

In [ ]:
with open("/Users/delidji/Documents/Data-Analyst-Project/0. Learning/basics 0/mytext.txt","r") as file_1:
    for i in file_1:
        print(i)

Comment vas-tu

Je me porte bien.

Et toi

In [ ]:
file = open("/Users/delidji/Documents/Data-Analyst-Project/0. Learning/basics 0/mytext.txt","r")
print(file.readlines())

['Comment vas-tu\n', 'Je me porte bien.\n', 'Et toi\n', '\n']

In [ ]:
import pandas as pd

In [ ]:
with open("/Users/delidji/Documents/Data-Analyst-Project/0. Learning/basics 0/example.txt","w") as file_2:
    file_2.write("Yes, I did it\n")
    file_2.write('Fuck you\n')
    file_2.write("Go ! Go ! Brandon\n")

In [ ]:
with open("/Users/delidji/Documents/Data-Analyst-Project/0. Learning/basics 0/example.txt","r") as file_3:
    i=0
    for i in file_3:
        print(i)

Yes, I did it

Fuck you

Go ! Go ! Brandon

In [46]:
age = [23,45,56,54]
serie = pd.Series(age)
serie

0    23
1    45
2    56
3    54
dtype: int64

In [49]:
data = {"name" : ["Hinata","Francesca","Paola","Fatou"],
        "age":[25,33,21,34],
        "country" : ["Japan", "Brazil", "Spain","Senegal"]}
raw= pd.DataFrame(data)
raw

        name  age  country
0     Hinata   25    Japan
1  Francesca   33   Brazil
2      Paola   21    Spain
3      Fatou   34  Senegal

In [51]:
df_upper30 = raw[raw["age"] > 30]
df_upper30

        name  age  country
1  Francesca   33   Brazil
3      Fatou   34  Senegal

In [52]:
import numpy as np
a = [0,1,2,3,4,5]
b = np.array(a)
b

array([0, 1, 2, 3, 4, 5])

In [53]:
b.size

6

In [54]:
b.ndim

1

In [55]:
b.shape

(6,)

In [56]:
b[0] = 200
b

array([200,   1,   2,   3,   4,   5])

In [57]:
b[0:3]

array([200,   1,   2])

In [58]:
b * 2

array([400,   2,   4,   6,   8,  10])

In [59]:
a * b

array([ 0,  1,  4,  9, 16, 25])

In [60]:
e = np.linspace(-1,1,5)
e

array([-1. , -0.5,  0. ,  0.5,  1. ])

In [62]:
a = np.array([0,1])
b = np.array([1,0])
c = np.dot(a,b)
c

0

In [65]:
X = np.array([[1,0,1],[2,2,2]])
out = X[0:2,2]
out

array([1, 2])

# WEB SCRAPPING

In [127]:
import pandas as pd
import numpy as np

In [128]:
url = "https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"
tables = pd.read_html(url)

In [129]:
df = tables[3]
df

    Country/Territory UN region IMF[1][13]            World Bank[14]  \
    Country/Territory UN region   Estimate       Year       Estimate
0               World         —  105568776       2023      100562011
1       United States  Americas   26854599       2023       25462700
2               China      Asia   19373586  [n 1]2023       17963171
3               Japan      Asia    4409738       2023        4231141
4             Germany    Europe    4308854       2023        4072192
..                ...       ...        ...        ...            ...
209          Anguilla  Americas          —          —              —
210          Kiribati   Oceania        248       2023            223
211             Nauru   Oceania        151       2023            151
212        Montserrat  Americas          —          —              —
213            Tuvalu   Oceania         65       2023             60

               United Nations[15]
          Year           Estimate       Year
0         2022           96698005       2021
1         2022           23315081       2021
2    [n 3]2022           17734131  [n 1]2021
3         2022            4940878       2021
4         2022            4259935       2021
..         ...                ...        ...
209          —                303       2021
210       2022                227       2021
211       2022                155       2021
212          —                 72       2021
213       2022                 60       2021

[214 rows x 8 columns]

In [130]:
df.columns

MultiIndex([( 'Country/Territory', 'Country/Territory'),
            (         'UN region',         'UN region'),
            (        'IMF[1][13]',          'Estimate'),
            (        'IMF[1][13]',              'Year'),
            (    'World Bank[14]',          'Estimate'),
            (    'World Bank[14]',              'Year'),
            ('United Nations[15]',          'Estimate'),
            ('United Nations[15]',              'Year')],
           )

In [131]:
df.shape

(214, 8)

In [132]:
df.columns = range(df.shape[1])
df

,0,1,2,3,4,5,6,7
0,World,—,105568776,2023,100562011,2022,96698005,2021
1,United States,Americas,26854599,2023,25462700,2022,23315081,2021
2,China,Asia,19373586,[n 1]2023,17963171,[n 3]2022,17734131,[n 1]2021
3,Japan,Asia,4409738,2023,4231141,2022,4940878,2021
4,Germany,Europe,4308854,2023,4072192,2022,4259935,2021
...,...,...,...,...,...,...,...,...
209,Anguilla,Americas,—,—,—,—,303,2021
210,Kiribati,Oceania,248,2023,223,2022,227,2021
211,Nauru,Oceania,151,2023,151,2022,155,2021
212,Montserrat,Americas,—,—,—,—,72,2021
213,Tuvalu,Oceania,65,2023,60,2022,60,2021

In [133]:
df = df[[0,2]]
df

                 0          2
0            World  105568776
1    United States   26854599
2            China   19373586
3            Japan    4409738
4          Germany    4308854
..             ...        ...
209       Anguilla          —
210       Kiribati        248
211          Nauru        151
212     Montserrat          —
213         Tuvalu         65

[214 rows x 2 columns]

In [134]:
df = df.iloc[1:11,:]
df

                 0         2
1    United States  26854599
2            China  19373586
3            Japan   4409738
4          Germany   4308854
5            India   3736882
6   United Kingdom   3158938
7           France   2923489
8            Italy   2169745
9           Canada   2089672
10          Brazil   2081235

In [135]:
df.columns = ["Country","GDP (Million USD)"]

In [136]:
df

           Country GDP (Million USD)
1    United States          26854599
2            China          19373586
3            Japan           4409738
4          Germany           4308854
5            India           3736882
6   United Kingdom           3158938
7           France           2923489
8            Italy           2169745
9           Canada           2089672
10          Brazil           2081235

In [137]:
df["GDP (Million USD)"] = df["GDP (Million USD)"].astype(int)

/var/folders/zt/s0q0y4yd4qj22t8gpmfncqtm0000gn/T/ipykernel_2143/1395936141.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["GDP (Million USD)"] = df["GDP (Million USD)"].astype(int)

In [138]:
df[['GDP (Million USD)']] = df[['GDP (Million USD)']]/1000
df

/var/folders/zt/s0q0y4yd4qj22t8gpmfncqtm0000gn/T/ipykernel_2143/784426526.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['GDP (Million USD)']] = df[['GDP (Million USD)']]/1000

           Country  GDP (Million USD)
1    United States          26854.599
2            China          19373.586
3            Japan           4409.738
4          Germany           4308.854
5            India           3736.882
6   United Kingdom           3158.938
7           France           2923.489
8            Italy           2169.745
9           Canada           2089.672
10          Brazil           2081.235

In [139]:
df[['GDP (Million USD)']] = np.round(df[['GDP (Million USD)']], 2)
df

/var/folders/zt/s0q0y4yd4qj22t8gpmfncqtm0000gn/T/ipykernel_2143/3900435537.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['GDP (Million USD)']] = np.round(df[['GDP (Million USD)']], 2)

           Country  GDP (Million USD)
1    United States           26854.60
2            China           19373.59
3            Japan            4409.74
4          Germany            4308.85
5            India            3736.88
6   United Kingdom            3158.94
7           France            2923.49
8            Italy            2169.74
9           Canada            2089.67
10          Brazil            2081.24

In [140]:
df.rename(columns = {'GDP (Million USD)' : 'GDP (Billion USD)'})
df

           Country  GDP (Million USD)
1    United States           26854.60
2            China           19373.59
3            Japan            4409.74
4          Germany            4308.85
5            India            3736.88
6   United Kingdom            3158.94
7           France            2923.49
8            Italy            2169.74
9           Canada            2089.67
10          Brazil            2081.24

In [123]:
url2 = "https://en.wikipedia.org/wiki/World_population"
df2 = pd.read_html(url2)
df2

[      Population         1     2     3     4     5     6     7     8     9  \
 0           Year      1804  1927  1960  1974  1987  1999  2011  2022  2037
 1  Years elapsed  200,000+   123    33    14    13    12    12    11    15

      10
 0  2057
 1    20  ,
                                Region  2022 (percent)  2030 (percent)  \
 0                  Sub-Saharan Africa  1,152 (14.51%)  1,401 (16.46%)
 1    Northern Africa and Western Asia     549 (6.91%)     617 (7.25%)
 2      Central Asia and Southern Asia  2,075 (26.13%)  2,248 (26.41%)
 3  Eastern Asia and Southeastern Asia  2,342 (29.49%)  2,372 (27.87%)
 4         Europe and Northern America  1,120 (14.10%)  1,129 (13.26%)
 5     Latin America and the Caribbean     658 (8.29%)     695 (8.17%)
 6           Australia and New Zealand      31 (0.39%)      34 (0.40%)
 7                             Oceania      14 (0.18%)      15 (0.18%)
 8                               World            7942            8512

    2050 (percent)
 0  2,094 (21.62%)
 1     771 (7.96%)
 2  2,575 (26.58%)
 3  2,317 (23.92%)
 4  1,125 (11.61%)
 5     749 (7.73%)
 6      38 (0.39%)
 7      20 (0.21%)
 8            9687  ,
     0                                                  1
 0 NaN  Graphs are unavailable due to technical issues...,
                      Region Density (inhabitants/km2) Population (millions)  \
 0                      Asia                     104.1                  4641
 1                    Africa                      44.4                  1340
 2                    Europe                      73.4                   747
 3             Latin America                      24.1                   653
 4  Northern America[note 1]                      14.9                   368
 5                   Oceania                         5                    42
 6                Antarctica                        ~0             0.004[89]

                                Most populous country  \
 0                              1,418,459,382 – India
 1                            0,211,401,000 – Nigeria
 2  0,146,171,000 – Russia, approx. 110 million in...
 3                             0,214,103,000 – Brazil
 4                      0,332,909,000 – United States
 5                          0,025,917,000 – Australia
 6                                        N/A[note 2]

               Most populous city (metropolitan area)
 0  13,515,000 – Tokyo Metropolis (37,400,000 – Gr...
 1    09,500,000 – Cairo (20,076,000 – Greater Cairo)
 2  13,200,000 – Moscow (20,004,000 – Moscow metro...
 3  12,252,000 – São Paulo City (21,650,000 – São ...
 4  08,804,000 – New York City (23,582,649 – New Y...
 5                                05,367,000 – Sydney
 6                       00,001,258 – McMurdo Station  ,
   Country / Dependency  Population % of world         Date  \
 0                India  1425775850      17.6%  14 Apr 2023
 1                China  1412600000      17.4%  31 Dec 2021
 2        United States   336294478      4.15%   8 Apr 2024
 3            Indonesia   278696200      3.44%   1 Jul 2023
 4             Pakistan   229488994      2.83%   1 Jul 2022
 5              Nigeria   216746934      2.68%   1 Jul 2022
 6               Brazil   217506307      2.69%   8 Apr 2024
 7           Bangladesh   168220000      2.08%   1 Jul 2020
 8               Russia   147190000      1.82%   1 Oct 2021
 9               Mexico   128271248      1.58%  31 Mar 2022

   Source (official or from the United Nations)
 0                            UN projection[92]
 1                 National annual estimate[93]
 2                National population clock[94]
 3                 National annual estimate[95]
 4                            UN projection[96]
 5                            UN projection[96]
 6                National population clock[97]
 7               Annual Population Estimate[98]
 8          2021 preliminary census results[99]
 9                                          NaN  ,
                                                                                                          #  \
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
 0                                                 NaN
 1                                                   1
 2                                                   2
 3                                                   3
 4                                                   4
 5                                                   5
 6                                                   6
 7                                                   7
 8                                                   8
 9                                                   9
 10                                                 10
 11                                                NaN
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                               Most populous countries  \
                                    Unnamed: 1_level_1
                                    Unnamed: 1_level_2
                                    Unnamed: 1_level_3
                                    Unnamed: 1_level_4
                                    Unnamed: 1_level_5
                                    Unnamed: 1_level_6
                                    Unnamed: 1_level_7
                                    Unnamed: 1_level_8
                                    Unnamed: 1_level_9
                                   Unnamed: 1_level_10
                                   Unnamed: 1_level_11
 0   Graphs are unavailable due to technical issues...
 1                                            China[B]
 2                                               India
 3                                       United States
 4                                           Indonesia
 5                                            Pakistan
 6                                              Brazil
 7                                             Nigeria
 8                                          Bangladesh
 9                                              Russia
 10                                             Mexico
 11                                        World total
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                                  2000  \
                                    Unnamed: 2_level_1
                                    Unnamed: 2_level_2
                                    Unnamed: 2_level_3
                                    Unnamed: 2_level_4
                                    Unnamed: 2_level_5
                                    Unnamed: 2_level_6
                                    Unnamed: 2_level_7
                                    Unnamed: 2_level_8
                                    Unnamed: 2_level_9
                                   Unnamed: 2_level_10
                                   Unnamed: 2_level_11
 0                                                 NaN
 1                                                1270
 2                                                1053
 3                                                 283
 4                                                 212
 5                                                 136
 6                                                 176
 7                                                 123
 8                                                 131
 9                                                 146
 10                                                103
 11                                               6127
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                                  2015  \
                                    Unnamed: 3_level_1
                                    Unnamed: 3_level_2
                                    Unnamed: 3_level_3
                                    Unnamed: 3_level_4
                                    Unnamed: 3_level_5
                                    Unnamed: 3_level_6
                                    Unnamed: 3_level_7
                                    Unnamed: 3_level_8
                                    Unnamed: 3_level_9
                                   Unnamed: 3_level_10
                                   Unnamed: 3_level_11
 0                                                 NaN
 1                                                1376
 2                                                1311
 3                                                 322
 4                                                 258
 5                                                 208
 6                                                 206
 7                                                 182
 8                                                 161
 9                                                 146
 10                                                127
 11                                               7349
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                               2030[A]  \
                                    Unnamed: 4_level_1
                                    Unnamed: 4_level_2
                                    Unnamed: 4_level_3
                                    Unnamed: 4_level_4
                                    Unnamed: 4_level_5
                                    Unnamed: 4_level_6
                                    Unnamed: 4_level_7
                                    Unnamed: 4_level_8
                                    Unnamed: 4_level_9
                                   Unnamed: 4_level_10
                                   Unnamed: 4_level_11
 0                                                 NaN
 1                                                1416
 2                                                1528
 3                                                 356
 4                                                 295
 5                                                 245
 6                                                 228
 7                                                 263
 8                                                 186
 9                                                 149
 10                                                148
 11                                               8501
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
                                                                                         Unnamed: 5_level_1
                                                                                         Unnamed: 5_level_2
                                                                                         Unnamed: 5_level_3
                                                                                         Unnamed: 5_level_4
                                                                                         Unnamed: 5_level_5
                                                                                         Unnamed: 5_level_6
                                                                                         Unnamed: 5_level_7
                                                                                         Unnamed: 5_level_8
                                                                                         Unnamed: 5_level_9
                                                                                        Unnamed: 5_level_10
                                                                                        Unnamed: 5_level_11
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...                                                       ,
     0                                                  1
 0 NaN  Graphs are unavailable due to technical issues...,
    Rank                 Country  Population  Area (km2)  Density (pop/km2)
 0     1               Singapore     5921231         719               8235
 1     2              Bangladesh   165650475      148460               1116
 2     3  Palestine[note 3][103]     5223000        6025                867
 3     4          Taiwan[note 4]    23580712       35980                655
 4     5             South Korea    51844834       99720                520
 5     6                 Lebanon     5296814       10400                509
 6     7                  Rwanda    13173730       26338                500
 7     8                 Burundi    12696478       27830                456
 8     9                   India  1389637446     3287263                423
 9    10             Netherlands    17400824       41543                419,
    Rank         Country  Population  Area (km2)  Density (pop/km2)  \
 0     1           India  1389637446     3287263                423
 1     2        Pakistan   242923845      796095                305
 2     3      Bangladesh   165650475      148460               1116
 3     4           Japan   124214766      377915                329
 4     5     Philippines   114597229      300000                382
 5     6         Vietnam   103808319      331210                313
 6     7  United Kingdom    67791400      243610                278
 7     8     South Korea    51844834       99720                520
 8     9          Taiwan    23580712       35980                655
 9    10       Sri Lanka    23187516       65610                353

   Population trend[citation needed]
 0                           Growing
 1                   Rapidly growing
 2                           Growing
 3                    Declining[104]
 4                           Growing
 5                           Growing
 6                           Growing
 7                            Steady
 8                            Steady
 9                           Growing  ,
     0                                                  1
 0 NaN  Graphs are unavailable due to technical issues...,
     0                                                  1
 0 NaN  Graphs are unavailable due to technical issues...,
     Year  Population Yearly growth           Density (pop/km2)
     Year  Population             %    Number Density (pop/km2)
 0   1951  2543130380         1.75%  43808223                17
 1   1952  2590270899         1.85%  47140519                17
 2   1953  2640278797         1.93%  50007898                18
 3   1954  2691979339         1.96%  51700542                18
 4   1955  2746072141         2.01%  54092802                18
 ..   ...         ...           ...       ...               ...
 68  2019  7764951032         1.06%  81161204                52
 69  2020  7840952880         0.98%  76001848                53
 70  2021  7909295151         0.87%  68342271                53
 71  2022  7975105156         0.83%  65810005                54
 72  2023  8045311447         0.88%  70206291                54

 [73 rows x 5 columns],
                      Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                     World   585   660   710   791   978  1262  1650  2521
 1                    Africa    86   114   106   106   107   111   133   221
 2                      Asia   282   350   411   502   635   809   947  1402
 3                    Europe   168   170   178   190   203   276   408   547
 4     Latin America[Note 1]    40    20    10    16    24    38    74   167
 5  Northern America[Note 1]     6     3     2     2     7    26    82   172
 6                   Oceania     3     3     3     2     2     2     6    13

    1999  2008  2010  2012  2050  2150
 0  6008  6707  6896  7052  9725  9746
 1   783   973  1022  1052  2478  2308
 2  3700  4054  4164  4250  5267  5561
 3   675   732   738   740   734   517
 4   508   577   590   603   784   912
 5   312   337   345   351   433   398
 6    30    34    37    38    57    51  ,
                      Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                    Africa  14.7  17.3  14.9  13.4  10.9   8.8   8.1   8.8
 1                      Asia  48.2  53.0  57.9  63.5  64.9  64.1  57.4  55.6
 2                    Europe  28.7  25.8  25.1  20.6  20.8  21.9  24.7  21.7
 3     Latin America[Note 1]   6.8   3.0   1.4   2.0   2.5   3.0   4.5   6.6
 4  Northern America[Note 1]   1.0   0.5   0.3   0.3   0.7   2.1   5.0   6.8
 5                   Oceania   0.5   0.5   0.4   0.3   0.2   0.2   0.4   0.5

    1999  2008  2010  2012  2050  2150
 0  13.0  14.5  14.8  15.2  25.5  23.7
 1  61.6  60.4  60.4  60.3  54.2  57.1
 2  11.2  10.9  10.7  10.5   7.6   5.3
 3   8.5   8.6   8.6   8.6   8.1   9.4
 4   5.2   5.0   5.0   5.0   4.5   4.1
 5   0.5   0.5   0.5   0.5   0.6   0.5  ,
          Year    World  Africa    Asia  Europe  \
 0   70,000 BC  < 0.015     NaN     NaN     NaN
 1   10,000 BC        4     NaN     NaN     NaN
 2     8000 BC        5     NaN     NaN     NaN
 3     6500 BC        5     NaN     NaN     NaN
 4     5000 BC        5     NaN     NaN     NaN
 5     4000 BC        7     NaN     NaN     NaN
 6     3000 BC       14     NaN     NaN     NaN
 7     2000 BC       27     NaN     NaN     NaN
 8     1000 BC       50     7.0    33.0     9.0
 9      500 BC      100    14.0    66.0    16.0
 10       AD 1      200    23.0   141.0    28.0
 11       1000      400    70.0   269.0    50.0
 12       1500      458    86.0   243.0    84.0
 13       1600      580   114.0   339.0   111.0
 14       1700      682   106.0   436.0   125.0
 15       1750      791   106.0   502.0   163.0
 16       1800     1000   107.0   656.0   203.0
 17       1850     1262   111.0   809.0   276.0
 18       1900     1650   133.0   947.0   408.0
 19       1950     2525   229.0  1394.0   549.0
 20       1955     2758   254.0  1534.0   577.0
 21       1960     3018   285.0  1687.0   606.0
 22       1965     3322   322.0  1875.0   635.0
 23       1970     3682   366.0  2120.0   657.0
 24       1975     4061   416.0  2378.0   677.0
 25       1980     4440   478.0  2626.0   694.0
 26       1985     4853   550.0  2897.0   708.0
 27       1990     5310   632.0  3202.0   721.0
 28       1995     5735   720.0  3475.0   728.0

In [124]:
table = df2[8]
table

,Rank,Country,Population,Area (km2),Density (pop/km2),Population trend[citation needed]
0,1,India,1389637446,3287263,423,Growing
1,2,Pakistan,242923845,796095,305,Rapidly growing
2,3,Bangladesh,165650475,148460,1116,Growing
3,4,Japan,124214766,377915,329,Declining[104]
4,5,Philippines,114597229,300000,382,Growing
5,6,Vietnam,103808319,331210,313,Growing
6,7,United Kingdom,67791400,243610,278,Growing
7,8,South Korea,51844834,99720,520,Steady
8,9,Taiwan,23580712,35980,655,Steady
9,10,Sri Lanka,23187516,65610,353,Growing

In [125]:
table = table[["Country","Population"]]
table

          Country  Population
0           India  1389637446
1        Pakistan   242923845
2      Bangladesh   165650475
3           Japan   124214766
4     Philippines   114597229
5         Vietnam   103808319
6  United Kingdom    67791400
7     South Korea    51844834
8          Taiwan    23580712
9       Sri Lanka    23187516