# Sales project

## Import packages

In [2]:
import numpy as np
import pandas as pd
import os

## Merge data

In [3]:
# put all months data into on DataFrame called "all_months_data.csv"
path = './Sales_Data'
files = [file for file in os.listdir(path) if not file.startswith('.')]
all_months = pd.DataFrame()

for file in files :
    current_month = pd.read_csv(path+"/"+file)
    all_months = pd.concat([all_months, current_month])

all_months.to_csv("all_months_data.csv", index= False)

In [4]:
# Display "all_months_data.csv" as raw_data
raw_data = pd.read_csv("all_months_data.csv")
raw_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1,2.99,06/07/19 19:02,"795 Pine St, Boston, MA 02215"
186846,222906,27in FHD Monitor,1,149.99,06/01/19 19:29,"495 North St, New York City, NY 10001"
186847,222907,USB-C Charging Cable,1,11.95,06/22/19 18:57,"319 Ridge St, San Francisco, CA 94016"
186848,222908,USB-C Charging Cable,1,11.95,06/26/19 18:35,"916 Main St, San Francisco, CA 94016"
186849,222909,AAA Batteries (4-pack),1,2.99,06/25/19 14:33,"209 11th St, Atlanta, GA 30301"

In [5]:
# Copy data as 'df'
df = raw_data.copy()
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1,2.99,06/07/19 19:02,"795 Pine St, Boston, MA 02215"
186846,222906,27in FHD Monitor,1,149.99,06/01/19 19:29,"495 North St, New York City, NY 10001"
186847,222907,USB-C Charging Cable,1,11.95,06/22/19 18:57,"319 Ridge St, San Francisco, CA 94016"
186848,222908,USB-C Charging Cable,1,11.95,06/26/19 18:35,"916 Main St, San Francisco, CA 94016"
186849,222909,AAA Batteries (4-pack),1,2.99,06/25/19 14:33,"209 11th St, Atlanta, GA 30301"

In [6]:
#Display informations about 'df'
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB

## Remove nan

In [7]:
# Display nan
df.isna().value_counts()

Order ID  Product  Quantity Ordered  Price Each  Order Date  Purchase Address
False     False    False             False       False       False               186305
True      True     True              True        True        True                   545
Name: count, dtype: int64

In [8]:
# Remove nan
df.dropna(how="all", inplace=True)

In [9]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1,2.99,06/07/19 19:02,"795 Pine St, Boston, MA 02215"
186846,222906,27in FHD Monitor,1,149.99,06/01/19 19:29,"495 North St, New York City, NY 10001"
186847,222907,USB-C Charging Cable,1,11.95,06/22/19 18:57,"319 Ridge St, San Francisco, CA 94016"
186848,222908,USB-C Charging Cable,1,11.95,06/26/19 18:35,"916 Main St, San Francisco, CA 94016"
186849,222909,AAA Batteries (4-pack),1,2.99,06/25/19 14:33,"209 11th St, Atlanta, GA 30301"

## Remove dupplicate

In [10]:
# Display dupplicate
df.duplicated().value_counts()

False    185687
True        618
Name: count, dtype: int64

In [11]:
# Drop dupplicates
df.drop_duplicates(inplace = True)

In [12]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1,2.99,06/07/19 19:02,"795 Pine St, Boston, MA 02215"
186846,222906,27in FHD Monitor,1,149.99,06/01/19 19:29,"495 North St, New York City, NY 10001"
186847,222907,USB-C Charging Cable,1,11.95,06/22/19 18:57,"319 Ridge St, San Francisco, CA 94016"
186848,222908,USB-C Charging Cable,1,11.95,06/26/19 18:35,"916 Main St, San Francisco, CA 94016"
186849,222909,AAA Batteries (4-pack),1,2.99,06/25/19 14:33,"209 11th St, Atlanta, GA 30301"

In [13]:
# Display ligne 254
df.loc[254,:]

Order ID                    Order ID
Product                      Product
Quantity Ordered    Quantity Ordered
Price Each                Price Each
Order Date                Order Date
Purchase Address    Purchase Address
Name: 254, dtype: object

In [16]:
# Drop ligne 254
df.drop([254,1], inplace=True)

In [17]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
5,295670,AA Batteries (4-pack),1,3.84,12/31/19 22:58,"200 Jefferson St, New York City, NY 10001"
...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1,2.99,06/07/19 19:02,"795 Pine St, Boston, MA 02215"
186846,222906,27in FHD Monitor,1,149.99,06/01/19 19:29,"495 North St, New York City, NY 10001"
186847,222907,USB-C Charging Cable,1,11.95,06/22/19 18:57,"319 Ridge St, San Francisco, CA 94016"
186848,222908,USB-C Charging Cable,1,11.95,06/26/19 18:35,"916 Main St, San Francisco, CA 94016"
186849,222909,AAA Batteries (4-pack),1,2.99,06/25/19 14:33,"209 11th St, Atlanta, GA 30301"

## Change Dtype of columns

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 185685 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185685 non-null  object
 1   Product           185685 non-null  object
 2   Quantity Ordered  185685 non-null  object
 3   Price Each        185685 non-null  object
 4   Order Date        185685 non-null  object
 5   Purchase Address  185685 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB

In [21]:
df["Quantity Ordered"] = pd.to_numeric(df["Quantity Ordered"])
df["Price Each"] = pd.to_numeric(df["Price Each"])
df["Order Date"] = pd.to_datetime(df["Order Date"])
df

/var/folders/zt/s0q0y4yd4qj22t8gpmfncqtm0000gn/T/ipykernel_2744/2771398136.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Order Date"] = pd.to_datetime(df["Order Date"])

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301"
5,295670,AA Batteries (4-pack),1,3.84,2019-12-31 22:58:00,"200 Jefferson St, New York City, NY 10001"
...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215"
186846,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001"
186847,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016"
186848,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016"
186849,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301"

## Recup Year, Month and Day

In [22]:
# Recup Year, Month and Day
df["Year"] = df["Order Date"].dt.year
df["Month"] = df["Order Date"].dt.month
df["Day"] = df["Order Date"].dt.day
df["Hour"] = df["Order Date"].dt.hour
df["Minute"] = df["Order Date"].dt.minute
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Year,Month,Day,Hour,Minute
0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",2019,12,30,0,1
2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",2019,12,12,18,21
3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",2019,12,22,15,13
4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",2019,12,18,12,38
5,295670,AA Batteries (4-pack),1,3.84,2019-12-31 22:58:00,"200 Jefferson St, New York City, NY 10001",2019,12,31,22,58
...,...,...,...,...,...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",2019,6,7,19,2
186846,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",2019,6,1,19,29
186847,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",2019,6,22,18,57
186848,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",2019,6,26,18,35
186849,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",2019,6,25,14,33

## Recup City and State

In [24]:
# Recup City
df["City"] = df["Purchase Address"].apply(lambda x: x.split(",")[1])
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Year,Month,Day,Hour,Minute,City
0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",2019,12,30,0,1,New York City
2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",2019,12,12,18,21,New York City
3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",2019,12,22,15,13,San Francisco
4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",2019,12,18,12,38,Atlanta
5,295670,AA Batteries (4-pack),1,3.84,2019-12-31 22:58:00,"200 Jefferson St, New York City, NY 10001",2019,12,31,22,58,New York City
...,...,...,...,...,...,...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",2019,6,7,19,2,Boston
186846,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",2019,6,1,19,29,New York City
186847,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",2019,6,22,18,57,San Francisco
186848,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",2019,6,26,18,35,San Francisco
186849,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",2019,6,25,14,33,Atlanta

In [26]:
# Recup State
df["State"] = df["Purchase Address"].apply(lambda x: x.split(",")[2].split(" ")[1])
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Year,Month,Day,Hour,Minute,City,State
0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",2019,12,30,0,1,New York City,NY
2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",2019,12,12,18,21,New York City,NY
3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",2019,12,22,15,13,San Francisco,CA
4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",2019,12,18,12,38,Atlanta,GA
5,295670,AA Batteries (4-pack),1,3.84,2019-12-31 22:58:00,"200 Jefferson St, New York City, NY 10001",2019,12,31,22,58,New York City,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",2019,6,7,19,2,Boston,MA
186846,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",2019,6,1,19,29,New York City,NY
186847,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",2019,6,22,18,57,San Francisco,CA
186848,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",2019,6,26,18,35,San Francisco,CA
186849,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",2019,6,25,14,33,Atlanta,GA

## Add Sales column

In [31]:
# Create Sales column
df["Sales"] = df["Quantity Ordered"] * df["Price Each"]
df

/var/folders/zt/s0q0y4yd4qj22t8gpmfncqtm0000gn/T/ipykernel_2744/668199650.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Sales"] = df["Quantity Ordered"] * df["Price Each"]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Year,Month,Day,Hour,Minute,Purchase Address,City,State,Sales
0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,2019,12,30,0,1,"136 Church St, New York City, NY 10001",New York City,NY,1700.00
2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,2019,12,12,18,21,"277 Main St, New York City, NY 10001",New York City,NY,11.95
3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,2019,12,22,15,13,"410 6th St, San Francisco, CA 94016",San Francisco,CA,149.99
4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,2019,12,18,12,38,"43 Hill St, Atlanta, GA 30301",Atlanta,GA,11.95
5,295670,AA Batteries (4-pack),1,3.84,2019-12-31 22:58:00,2019,12,31,22,58,"200 Jefferson St, New York City, NY 10001",New York City,NY,3.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,2019,6,7,19,2,"795 Pine St, Boston, MA 02215",Boston,MA,2.99
186846,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,2019,6,1,19,29,"495 North St, New York City, NY 10001",New York City,NY,149.99
186847,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,2019,6,22,18,57,"319 Ridge St, San Francisco, CA 94016",San Francisco,CA,11.95
186848,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,2019,6,26,18,35,"916 Main St, San Francisco, CA 94016",San Francisco,CA,11.95
186849,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,2019,6,25,14,33,"209 11th St, Atlanta, GA 30301",Atlanta,GA,2.99

## Reorganize columns

In [32]:
# name of columns
df.columns.values

array(['Order ID', 'Product', 'Quantity Ordered', 'Price Each',
       'Order Date', 'Year', 'Month', 'Day', 'Hour', 'Minute',
       'Purchase Address', 'City', 'State', 'Sales'], dtype=object)

In [35]:
# List of columns names
reorganized = ['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Sales', 'Order Date', 'Year', 'Month', 'Day', 'Hour','Minute' , 'Purchase Address', 'City', 'State']

In [36]:
# reoranization
df = df[reorganized]

In [37]:
df

,Order ID,Product,Quantity Ordered,Price Each,Sales,Order Date,Year,Month,Day,Hour,Minute,Purchase Address,City,State
0,295665,Macbook Pro Laptop,1,1700.00,1700.00,2019-12-30 00:01:00,2019,12,30,0,1,"136 Church St, New York City, NY 10001",New York City,NY
2,295667,USB-C Charging Cable,1,11.95,11.95,2019-12-12 18:21:00,2019,12,12,18,21,"277 Main St, New York City, NY 10001",New York City,NY
3,295668,27in FHD Monitor,1,149.99,149.99,2019-12-22 15:13:00,2019,12,22,15,13,"410 6th St, San Francisco, CA 94016",San Francisco,CA
4,295669,USB-C Charging Cable,1,11.95,11.95,2019-12-18 12:38:00,2019,12,18,12,38,"43 Hill St, Atlanta, GA 30301",Atlanta,GA
5,295670,AA Batteries (4-pack),1,3.84,3.84,2019-12-31 22:58:00,2019,12,31,22,58,"200 Jefferson St, New York City, NY 10001",New York City,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1,2.99,2.99,2019-06-07 19:02:00,2019,6,7,19,2,"795 Pine St, Boston, MA 02215",Boston,MA
186846,222906,27in FHD Monitor,1,149.99,149.99,2019-06-01 19:29:00,2019,6,1,19,29,"495 North St, New York City, NY 10001",New York City,NY
186847,222907,USB-C Charging Cable,1,11.95,11.95,2019-06-22 18:57:00,2019,6,22,18,57,"319 Ridge St, San Francisco, CA 94016",San Francisco,CA
186848,222908,USB-C Charging Cable,1,11.95,11.95,2019-06-26 18:35:00,2019,6,26,18,35,"916 Main St, San Francisco, CA 94016",San Francisco,CA
186849,222909,AAA Batteries (4-pack),1,2.99,2.99,2019-06-25 14:33:00,2019,6,25,14,33,"209 11th St, Atlanta, GA 30301",Atlanta,GA

## Save cleaned data

In [38]:
## Save cleaned data as Sales_Data_Cleaned
df.to_csv("Sales_Cleaned_data.csv", index= False)