# WEB SCRAPPING

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
url = "https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"
tables = pd.read_html(url)

In [ ]:
df = tables[3]
df

    Country/Territory UN region IMF[1][13]            World Bank[14]  \
    Country/Territory UN region   Estimate       Year       Estimate
0               World         —  105568776       2023      100562011
1       United States  Americas   26854599       2023       25462700
2               China      Asia   19373586  [n 1]2023       17963171
3               Japan      Asia    4409738       2023        4231141
4             Germany    Europe    4308854       2023        4072192
..                ...       ...        ...        ...            ...
209          Anguilla  Americas          —          —              —
210          Kiribati   Oceania        248       2023            223
211             Nauru   Oceania        151       2023            151
212        Montserrat  Americas          —          —              —
213            Tuvalu   Oceania         65       2023             60

               United Nations[15]
          Year           Estimate       Year
0         2022           96698005       2021
1         2022           23315081       2021
2    [n 3]2022           17734131  [n 1]2021
3         2022            4940878       2021
4         2022            4259935       2021
..         ...                ...        ...
209          —                303       2021
210       2022                227       2021
211       2022                155       2021
212          —                 72       2021
213       2022                 60       2021

[214 rows x 8 columns]

In [ ]:
df.columns

MultiIndex([( 'Country/Territory', 'Country/Territory'),
            (         'UN region',         'UN region'),
            (        'IMF[1][13]',          'Estimate'),
            (        'IMF[1][13]',              'Year'),
            (    'World Bank[14]',          'Estimate'),
            (    'World Bank[14]',              'Year'),
            ('United Nations[15]',          'Estimate'),
            ('United Nations[15]',              'Year')],
           )

In [ ]:
df.shape

(214, 8)

In [ ]:
df.columns = range(df.shape[1])
df

,0,1,2,3,4,5,6,7
0,World,—,105568776,2023,100562011,2022,96698005,2021
1,United States,Americas,26854599,2023,25462700,2022,23315081,2021
2,China,Asia,19373586,[n 1]2023,17963171,[n 3]2022,17734131,[n 1]2021
3,Japan,Asia,4409738,2023,4231141,2022,4940878,2021
4,Germany,Europe,4308854,2023,4072192,2022,4259935,2021
...,...,...,...,...,...,...,...,...
209,Anguilla,Americas,—,—,—,—,303,2021
210,Kiribati,Oceania,248,2023,223,2022,227,2021
211,Nauru,Oceania,151,2023,151,2022,155,2021
212,Montserrat,Americas,—,—,—,—,72,2021
213,Tuvalu,Oceania,65,2023,60,2022,60,2021

In [ ]:
df = df[[0,2]]
df

                 0          2
0            World  105568776
1    United States   26854599
2            China   19373586
3            Japan    4409738
4          Germany    4308854
..             ...        ...
209       Anguilla          —
210       Kiribati        248
211          Nauru        151
212     Montserrat          —
213         Tuvalu         65

[214 rows x 2 columns]

In [ ]:
df = df.iloc[1:11,:]
df

                 0         2
1    United States  26854599
2            China  19373586
3            Japan   4409738
4          Germany   4308854
5            India   3736882
6   United Kingdom   3158938
7           France   2923489
8            Italy   2169745
9           Canada   2089672
10          Brazil   2081235

In [ ]:
df.columns = ["Country","GDP (Million USD)"]

In [ ]:
df

           Country GDP (Million USD)
1    United States          26854599
2            China          19373586
3            Japan           4409738
4          Germany           4308854
5            India           3736882
6   United Kingdom           3158938
7           France           2923489
8            Italy           2169745
9           Canada           2089672
10          Brazil           2081235

In [ ]:
df["GDP (Million USD)"] = df["GDP (Million USD)"].astype(int)

/var/folders/zt/s0q0y4yd4qj22t8gpmfncqtm0000gn/T/ipykernel_2143/1395936141.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["GDP (Million USD)"] = df["GDP (Million USD)"].astype(int)

In [ ]:
df[['GDP (Million USD)']] = df[['GDP (Million USD)']]/1000
df

/var/folders/zt/s0q0y4yd4qj22t8gpmfncqtm0000gn/T/ipykernel_2143/784426526.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['GDP (Million USD)']] = df[['GDP (Million USD)']]/1000

           Country  GDP (Million USD)
1    United States          26854.599
2            China          19373.586
3            Japan           4409.738
4          Germany           4308.854
5            India           3736.882
6   United Kingdom           3158.938
7           France           2923.489
8            Italy           2169.745
9           Canada           2089.672
10          Brazil           2081.235

In [ ]:
df[['GDP (Million USD)']] = np.round(df[['GDP (Million USD)']], 2)
df

/var/folders/zt/s0q0y4yd4qj22t8gpmfncqtm0000gn/T/ipykernel_2143/3900435537.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['GDP (Million USD)']] = np.round(df[['GDP (Million USD)']], 2)

           Country  GDP (Million USD)
1    United States           26854.60
2            China           19373.59
3            Japan            4409.74
4          Germany            4308.85
5            India            3736.88
6   United Kingdom            3158.94
7           France            2923.49
8            Italy            2169.74
9           Canada            2089.67
10          Brazil            2081.24

In [ ]:
df.rename(columns = {'GDP (Million USD)' : 'GDP (Billion USD)'})
df

           Country  GDP (Million USD)
1    United States           26854.60
2            China           19373.59
3            Japan            4409.74
4          Germany            4308.85
5            India            3736.88
6   United Kingdom            3158.94
7           France            2923.49
8            Italy            2169.74
9           Canada            2089.67
10          Brazil            2081.24

In [15]:
import pandas as pd
url2 = "https://en.wikipedia.org/wiki/World_population"
df2 = pd.read_html(url2)
df2

[      Population         1     2     3     4     5     6     7     8     9  \
 0           Year      1804  1927  1960  1974  1987  1999  2011  2022  2037
 1  Years elapsed  200,000+   123    33    14    13    12    12    11    15

      10
 0  2057
 1    20  ,
                                Region  2022 (percent)  2030 (percent)  \
 0                  Sub-Saharan Africa  1,152 (14.51%)  1,401 (16.46%)
 1    Northern Africa and Western Asia     549 (6.91%)     617 (7.25%)
 2      Central Asia and Southern Asia  2,075 (26.13%)  2,248 (26.41%)
 3  Eastern Asia and Southeastern Asia  2,342 (29.49%)  2,372 (27.87%)
 4         Europe and Northern America  1,120 (14.10%)  1,129 (13.26%)
 5     Latin America and the Caribbean     658 (8.29%)     695 (8.17%)
 6           Australia and New Zealand      31 (0.39%)      34 (0.40%)
 7                             Oceania      14 (0.18%)      15 (0.18%)
 8                               World            7942            8512

    2050 (percent)
 0  2,094 (21.62%)
 1     771 (7.96%)
 2  2,575 (26.58%)
 3  2,317 (23.92%)
 4  1,125 (11.61%)
 5     749 (7.73%)
 6      38 (0.39%)
 7      20 (0.21%)
 8            9687  ,
     0                                                  1
 0 NaN  Graphs are unavailable due to technical issues...,
                      Region Density (inhabitants/km2) Population (millions)  \
 0                      Asia                     104.1                  4641
 1                    Africa                      44.4                  1340
 2                    Europe                      73.4                   747
 3             Latin America                      24.1                   653
 4  Northern America[note 1]                      14.9                   368
 5                   Oceania                         5                    42
 6                Antarctica                        ~0             0.004[89]

                                Most populous country  \
 0                              1,418,459,382 – India
 1                            0,211,401,000 – Nigeria
 2  0,146,171,000 – Russia, approx. 110 million in...
 3                             0,214,103,000 – Brazil
 4                      0,332,909,000 – United States
 5                          0,025,917,000 – Australia
 6                                        N/A[note 2]

               Most populous city (metropolitan area)
 0  13,515,000 – Tokyo Metropolis (37,400,000 – Gr...
 1    09,500,000 – Cairo (20,076,000 – Greater Cairo)
 2  13,200,000 – Moscow (20,004,000 – Moscow metro...
 3  12,252,000 – São Paulo City (21,650,000 – São ...
 4  08,804,000 – New York City (23,582,649 – New Y...
 5                                05,367,000 – Sydney
 6                       00,001,258 – McMurdo Station  ,
   Country / Dependency  Population % of world         Date  \
 0                India  1425775850      17.6%  14 Apr 2023
 1                China  1412600000      17.4%  31 Dec 2021
 2        United States   336298405      4.15%   9 Apr 2024
 3            Indonesia   278696200      3.44%   1 Jul 2023
 4             Pakistan   229488994      2.83%   1 Jul 2022
 5              Nigeria   216746934      2.68%   1 Jul 2022
 6               Brazil   217510446      2.69%   9 Apr 2024
 7           Bangladesh   168220000      2.08%   1 Jul 2020
 8               Russia   147190000      1.82%   1 Oct 2021
 9               Mexico   128271248      1.58%  31 Mar 2022

   Source (official or from the United Nations)
 0                            UN projection[92]
 1                 National annual estimate[93]
 2                National population clock[94]
 3                 National annual estimate[95]
 4                            UN projection[96]
 5                            UN projection[96]
 6                National population clock[97]
 7               Annual Population Estimate[98]
 8          2021 preliminary census results[99]
 9                                          NaN  ,
                                                                                                          #  \
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
 0                                                 NaN
 1                                                   1
 2                                                   2
 3                                                   3
 4                                                   4
 5                                                   5
 6                                                   6
 7                                                   7
 8                                                   8
 9                                                   9
 10                                                 10
 11                                                NaN
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                               Most populous countries  \
                                    Unnamed: 1_level_1
                                    Unnamed: 1_level_2
                                    Unnamed: 1_level_3
                                    Unnamed: 1_level_4
                                    Unnamed: 1_level_5
                                    Unnamed: 1_level_6
                                    Unnamed: 1_level_7
                                    Unnamed: 1_level_8
                                    Unnamed: 1_level_9
                                   Unnamed: 1_level_10
                                   Unnamed: 1_level_11
 0   Graphs are unavailable due to technical issues...
 1                                            China[B]
 2                                               India
 3                                       United States
 4                                           Indonesia
 5                                            Pakistan
 6                                              Brazil
 7                                             Nigeria
 8                                          Bangladesh
 9                                              Russia
 10                                             Mexico
 11                                        World total
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                                  2000  \
                                    Unnamed: 2_level_1
                                    Unnamed: 2_level_2
                                    Unnamed: 2_level_3
                                    Unnamed: 2_level_4
                                    Unnamed: 2_level_5
                                    Unnamed: 2_level_6
                                    Unnamed: 2_level_7
                                    Unnamed: 2_level_8
                                    Unnamed: 2_level_9
                                   Unnamed: 2_level_10
                                   Unnamed: 2_level_11
 0                                                 NaN
 1                                                1270
 2                                                1053
 3                                                 283
 4                                                 212
 5                                                 136
 6                                                 176
 7                                                 123
 8                                                 131
 9                                                 146
 10                                                103
 11                                               6127
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                                  2015  \
                                    Unnamed: 3_level_1
                                    Unnamed: 3_level_2
                                    Unnamed: 3_level_3
                                    Unnamed: 3_level_4
                                    Unnamed: 3_level_5
                                    Unnamed: 3_level_6
                                    Unnamed: 3_level_7
                                    Unnamed: 3_level_8
                                    Unnamed: 3_level_9
                                   Unnamed: 3_level_10
                                   Unnamed: 3_level_11
 0                                                 NaN
 1                                                1376
 2                                                1311
 3                                                 322
 4                                                 258
 5                                                 208
 6                                                 206
 7                                                 182
 8                                                 161
 9                                                 146
 10                                                127
 11                                               7349
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                               2030[A]  \
                                    Unnamed: 4_level_1
                                    Unnamed: 4_level_2
                                    Unnamed: 4_level_3
                                    Unnamed: 4_level_4
                                    Unnamed: 4_level_5
                                    Unnamed: 4_level_6
                                    Unnamed: 4_level_7
                                    Unnamed: 4_level_8
                                    Unnamed: 4_level_9
                                   Unnamed: 4_level_10
                                   Unnamed: 4_level_11
 0                                                 NaN
 1                                                1416
 2                                                1528
 3                                                 356
 4                                                 295
 5                                                 245
 6                                                 228
 7                                                 263
 8                                                 186
 9                                                 149
 10                                                148
 11                                               8501
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
                                                                                         Unnamed: 5_level_1
                                                                                         Unnamed: 5_level_2
                                                                                         Unnamed: 5_level_3
                                                                                         Unnamed: 5_level_4
                                                                                         Unnamed: 5_level_5
                                                                                         Unnamed: 5_level_6
                                                                                         Unnamed: 5_level_7
                                                                                         Unnamed: 5_level_8
                                                                                         Unnamed: 5_level_9
                                                                                        Unnamed: 5_level_10
                                                                                        Unnamed: 5_level_11
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...                                                       ,
     0                                                  1
 0 NaN  Graphs are unavailable due to technical issues...,
    Rank                 Country  Population  Area (km2)  Density (pop/km2)
 0     1               Singapore     5921231         719               8235
 1     2              Bangladesh   165650475      148460               1116
 2     3  Palestine[note 3][103]     5223000        6025                867
 3     4          Taiwan[note 4]    23580712       35980                655
 4     5             South Korea    51844834       99720                520
 5     6                 Lebanon     5296814       10400                509
 6     7                  Rwanda    13173730       26338                500
 7     8                 Burundi    12696478       27830                456
 8     9                   India  1389637446     3287263                423
 9    10             Netherlands    17400824       41543                419,
    Rank         Country  Population  Area (km2)  Density (pop/km2)  \
 0     1           India  1389637446     3287263                423
 1     2        Pakistan   242923845      796095                305
 2     3      Bangladesh   165650475      148460               1116
 3     4           Japan   124214766      377915                329
 4     5     Philippines   114597229      300000                382
 5     6         Vietnam   103808319      331210                313
 6     7  United Kingdom    67791400      243610                278
 7     8     South Korea    51844834       99720                520
 8     9          Taiwan    23580712       35980                655
 9    10       Sri Lanka    23187516       65610                353

   Population trend[citation needed]
 0                           Growing
 1                   Rapidly growing
 2                           Growing
 3                    Declining[104]
 4                           Growing
 5                           Growing
 6                           Growing
 7                            Steady
 8                            Steady
 9                           Growing  ,
     0                                                  1
 0 NaN  Graphs are unavailable due to technical issues...,
     0                                                  1
 0 NaN  Graphs are unavailable due to technical issues...,
     Year  Population Yearly growth           Density (pop/km2)
     Year  Population             %    Number Density (pop/km2)
 0   1951  2543130380         1.75%  43808223                17
 1   1952  2590270899         1.85%  47140519                17
 2   1953  2640278797         1.93%  50007898                18
 3   1954  2691979339         1.96%  51700542                18
 4   1955  2746072141         2.01%  54092802                18
 ..   ...         ...           ...       ...               ...
 68  2019  7764951032         1.06%  81161204                52
 69  2020  7840952880         0.98%  76001848                53
 70  2021  7909295151         0.87%  68342271                53
 71  2022  7975105156         0.83%  65810005                54
 72  2023  8045311447         0.88%  70206291                54

 [73 rows x 5 columns],
                      Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                     World   585   660   710   791   978  1262  1650  2521
 1                    Africa    86   114   106   106   107   111   133   221
 2                      Asia   282   350   411   502   635   809   947  1402
 3                    Europe   168   170   178   190   203   276   408   547
 4     Latin America[Note 1]    40    20    10    16    24    38    74   167
 5  Northern America[Note 1]     6     3     2     2     7    26    82   172
 6                   Oceania     3     3     3     2     2     2     6    13

    1999  2008  2010  2012  2050  2150
 0  6008  6707  6896  7052  9725  9746
 1   783   973  1022  1052  2478  2308
 2  3700  4054  4164  4250  5267  5561
 3   675   732   738   740   734   517
 4   508   577   590   603   784   912
 5   312   337   345   351   433   398
 6    30    34    37    38    57    51  ,
                      Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                    Africa  14.7  17.3  14.9  13.4  10.9   8.8   8.1   8.8
 1                      Asia  48.2  53.0  57.9  63.5  64.9  64.1  57.4  55.6
 2                    Europe  28.7  25.8  25.1  20.6  20.8  21.9  24.7  21.7
 3     Latin America[Note 1]   6.8   3.0   1.4   2.0   2.5   3.0   4.5   6.6
 4  Northern America[Note 1]   1.0   0.5   0.3   0.3   0.7   2.1   5.0   6.8
 5                   Oceania   0.5   0.5   0.4   0.3   0.2   0.2   0.4   0.5

    1999  2008  2010  2012  2050  2150
 0  13.0  14.5  14.8  15.2  25.5  23.7
 1  61.6  60.4  60.4  60.3  54.2  57.1
 2  11.2  10.9  10.7  10.5   7.6   5.3
 3   8.5   8.6   8.6   8.6   8.1   9.4
 4   5.2   5.0   5.0   5.0   4.5   4.1
 5   0.5   0.5   0.5   0.5   0.6   0.5  ,
          Year    World  Africa    Asia  Europe  \
 0   70,000 BC  < 0.015     NaN     NaN     NaN
 1   10,000 BC        4     NaN     NaN     NaN
 2     8000 BC        5     NaN     NaN     NaN
 3     6500 BC        5     NaN     NaN     NaN
 4     5000 BC        5     NaN     NaN     NaN
 5     4000 BC        7     NaN     NaN     NaN
 6     3000 BC       14     NaN     NaN     NaN
 7     2000 BC       27     NaN     NaN     NaN
 8     1000 BC       50     7.0    33.0     9.0
 9      500 BC      100    14.0    66.0    16.0
 10       AD 1      200    23.0   141.0    28.0
 11       1000      400    70.0   269.0    50.0
 12       1500      458    86.0   243.0    84.0
 13       1600      580   114.0   339.0   111.0
 14       1700      682   106.0   436.0   125.0
 15       1750      791   106.0   502.0   163.0
 16       1800     1000   107.0   656.0   203.0
 17       1850     1262   111.0   809.0   276.0
 18       1900     1650   133.0   947.0   408.0
 19       1950     2525   229.0  1394.0   549.0
 20       1955     2758   254.0  1534.0   577.0
 21       1960     3018   285.0  1687.0   606.0
 22       1965     3322   322.0  1875.0   635.0
 23       1970     3682   366.0  2120.0   657.0
 24       1975     4061   416.0  2378.0   677.0
 25       1980     4440   478.0  2626.0   694.0
 26       1985     4853   550.0  2897.0   708.0
 27       1990     5310   632.0  3202.0   721.0
 28       1995     5735   720.0  3475.0   728.0

In [16]:
table = df2[8]
table

,Rank,Country,Population,Area (km2),Density (pop/km2),Population trend[citation needed]
0,1,India,1389637446,3287263,423,Growing
1,2,Pakistan,242923845,796095,305,Rapidly growing
2,3,Bangladesh,165650475,148460,1116,Growing
3,4,Japan,124214766,377915,329,Declining[104]
4,5,Philippines,114597229,300000,382,Growing
5,6,Vietnam,103808319,331210,313,Growing
6,7,United Kingdom,67791400,243610,278,Growing
7,8,South Korea,51844834,99720,520,Steady
8,9,Taiwan,23580712,35980,655,Steady
9,10,Sri Lanka,23187516,65610,353,Growing

In [17]:
table = table[["Country","Population"]]
table

          Country  Population
0           India  1389637446
1        Pakistan   242923845
2      Bangladesh   165650475
3           Japan   124214766
4     Philippines   114597229
5         Vietnam   103808319
6  United Kingdom    67791400
7     South Korea    51844834
8          Taiwan    23580712
9       Sri Lanka    23187516

In [20]:
table.dtypes

Country       object
Population     int64
dtype: object

In [24]:
import requests
url='https://www.ibm.com/'
r = requests.get(url)
r.status_code : 200
r.request.headers

{'User-Agent': 'python-requests/2.31.0', 'Accept-Encoding': 'gzip, deflate, br', 'Accept': '*/*', 'Connection': 'keep-alive', 'Cookie': '_abck=BECC753E4448A48AF35C6BA7EBE3DDB5~-1~YAAQYXV7XKpvG6yOAQAA4/ylwgtbL+x3MHSI4YkA1uslXu0OoFdjM0aXiLrj8COAGT3WSJ1C3uBllIUaw/EZ97Tp4QQkErim4UYBx7LytgvzksUHrB9pkujRusrVl4smPZSBIi9Ymg385VuIznm2QWUV8gUvU43xu1eAXWwaAuvx5FPcOBLXdCj84F+eSLlnWEy075iwPUNKBhJMjxUf6ivedFy8sCTvzRc2ZlDnIYpi+h4MEBtcWMNXU01k3GZHGtJPcaj+4vNE49qKh4vWlvRjUGld3x87ZURI8nbEbXsVOqy4vzhaOVxK03uA+p6Je030Cmj0pAnU2mkZe62iB7Gn9fDtJ8KOPQvwBemsKg7fdURfwzM=~-1~-1~-1; bm_sz=217FD453F93348C273DBB57A613A46B0~YAAQYXV7XKtvG6yOAQAA4/ylwhek4y58u+62Kvs93GwEh0sFxyYg178EXJ+UX+NDQ8UH6gJ4aaHxkB25dAqtFDoyjnXuH+yTsAG270nrsZqw62FNUpowL+RWdMdCIUp7onlBLlBZcna1993KzkV7lekE5KEIAZVs9ehF0kJc+hOwyaPcLok+V0fdeuBk82B8gXDSoYXlVCDEt8sv/IN1MUqujqjW9qelYy77++uWzT4e0x8QfXJLbg2jkxkf/lMTNEIr50EXJDm7B5Kd9f0oGo54h/Voa4A+0Z/t4wlt9dHSHzKxcTzXwydwSmhLEzfSRekCpdRoLfJJ1kZsNlmvIgyc0yeP+0gg~4604467~3749958'}

In [26]:
r.request.body : None
header = r.headers
header

{'Content-Security-Policy': 'upgrade-insecure-requests', 'x-frame-options': 'SAMEORIGIN', 'Last-Modified': 'Tue, 09 Apr 2024 11:07:21 GMT', 'ETag': 'W/"177dd-615a7ed14bf5d-gzip"', 'Accept-Ranges': 'bytes', 'Content-Type': 'text/html;charset=utf-8', 'X-Content-Type-Options': 'nosniff', 'Cache-Control': 'max-age=900', 'Expires': 'Tue, 09 Apr 2024 11:52:22 GMT', 'X-Akamai-Transformed': '9 14023 0 pmb=mTOE,2', 'Content-Encoding': 'gzip', 'Date': 'Tue, 09 Apr 2024 11:37:22 GMT', 'Content-Length': '14212', 'Connection': 'keep-alive', 'Vary': 'Accept-Encoding', 'Strict-Transport-Security': 'max-age=31536000'}

In [32]:
#Import packages
import requests
from bs4 import BeautifulSoup
# Specify the URL of the webpage you want to scrape
url3 = 'https://en.wikipedia.org/wiki/IBM'
# Send an HTTP GET request to the webpage
response = requests.get(url3)
# Store the HTML content in a variable
html_content = response.text
# Create a BeautifulSoup object to parse the HTML
soup = BeautifulSoup(html_content, 'html.parser')

# Display a snippet of the HTML content
print(html_content[:500])

<!DOCTYPE html>
<html class="client-nojs vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-sticky-header-disabled vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-clientpref-1 vector-feature-main-menu-pinned-disabled vector-feature-limited-width-clientpref-1 vector-feature-limited-width-content-enabled vector-feature-custom-font-size-clientpref-0 vector-feature-client-preferences-disabled vector-feature-client-prefs-p

In [34]:
# Find all <a> tags (anchor tags) in the HTML
links = soup.find_all('a')
# Iterate through the list of links and print their text
for link in links:
    print(link.text)

Jump to content
Main page
Contents
Current events
Random article
About Wikipedia
Contact us
Donate
Help
Learn to edit
Community portal
Recent changes
Upload file








Search

Create account
Log in
 Create account
 Log in
learn more
Contributions
Talk

(Top)



1History



2Headquarters and offices



3Finance



4Products and services



5Research



6Brand and reputation



7People and culture



7.1Employees



7.1.1IBM alumni



7.2Board and shareholders



8See also



9References



10Further reading



11External links

Afrikaans
Alemannisch
العربية
Asturianu
Azərbaycanca
تۆرکجه
বাংলা
Bân-lâm-gú
Башҡортса
Беларуская
Беларуская (тарашкевіца)
Български
Bosanski
Català
Чӑвашла
Čeština
Dansk
Deutsch
Eesti
Ελληνικά
Español
Esperanto
Euskara
فارسی
Français
Gaeilge
Galego
Gĩkũyũ
한국어
Հայերեն
हिन्दी
Hrvatski
Ido
Bahasa Indonesia
Interlingue
Íslenska
Italiano
עברית
Jawa
ಕನ್ನಡ
ქართული
Қазақша
Kiswahili
Kurdî
Кыргызча
Latina
Latviešu
Lëtzebuergesch
Lietuvių
Magyar
मैथिली
Македонски
മലയാളം
मराठी
مصرى
Bahasa Melayu
Монгол
Nederlands
नेपाली
日本語
Norsk bokmål
Norsk nynorsk
Occitan
ଓଡ଼ିଆ
Oʻzbekcha / ўзбекча
ਪੰਜਾਬੀ
پنجابی
Piemontèis
Polski
Português
Qaraqalpaqsha
Română
Runa Simi
Русский
Саха тыла
Scots
Shqip
සිංහල
Simple English
Slovenčina
Slovenščina
کوردی
Српски / srpski
Srpskohrvatski / српскохрватски
Suomi
Svenska
Tagalog
தமிழ்
Татарча / tatarça
ไทย
Тоҷикӣ
Türkçe
Українська
اردو
Tiếng Việt
Winaray
吴语
ייִדיש
粵語
中文
Edit links
Article
Talk
Read
Edit
View history
Read
Edit
View history
What links here
Related changes
Upload file
Special pages
Permanent link
Page information
Cite this page
Get shortened URL
Download QR code
Wikidata item
Download as PDF
Printable version
Wikimedia Commons
Wikinews
Wikiquote
IBM (disambiguation)
Big Blue (disambiguation)

Paul Rand
Trade name
Computing-Tabulating-Recording Company
Public
Traded as
NYSE
IBM
DJIA
S&P 100
S&P 500
ISIN
Information technology
Bundy Manufacturing Company
Computing Scale Company of America
International Time Recording Company
Tabulating Machine Company
Computing-Tabulating-Recording Company
Computing-Tabulating-Recording Company
Endicott, New York
[1]
George Winthrop Fairchild
Charles Ranlett Flint
Herman Hollerith
Armonk, New York
Arvind Krishna
chairman
CEO
[2]
[3]
Gary Cohn
vice chairman
[4]
Automation
Robotics
Artificial intelligence
Cloud computing
Consulting
Blockchain
Computer hardware
Software
Quantum computing
IBM Cloud
IBM Cognos Analytics
IBM Planning Analytics
SQL
Watson
Information Management Software
SPSS
ILOG
Tivoli Software
WebSphere
alphaWorks
Mashup Center
PureQuery
Fortran
IBM Quantum Experience
Mainframe
Power Systems
IBM storage
IBM Q System One
Full List
Outsourcing
Professional services
Managed services
US$
Operating income
Net income
Total assets
Total equity
Subsidiaries
List of subsidiaries
ibm.com
[5]
trademark
[6]
multinational
technology company
Armonk, New York
[7]
[8]
U.S.
patents
[9]
[10]
[11]
Computing-Tabulating-Recording Company
holding company
punch-card tabulating systems
IBM mainframe
System/360
computing platform
[12]
microcomputer
IBM Personal Computer
PC
[13]
[14]
intellectual property
commodity production
Lenovo Group
computer services
software
supercomputers
scientific research
consistently ranked
[12]
[15]
technology companies
technological innovations
automated teller machine
dynamic random-access memory
floppy disk
hard disk drive
magnetic stripe card
relational database
SQL programming language
UPC barcode
computer chips
quantum computing
artificial intelligence
data infrastructure
[16]
[17]
[18]
Nobel Prizes
Turing Awards
[19]
publicly traded company
Dow Jones Industrial Average
world's largest employers
[20]
[21]
largest overall company by revenue in the United States
[22]
edit
History of IBM
[23]
[24]
Herman Hollerith
Electric Tabulating Machine
[25]
Willard Bundy
time clock
[26]
amalgamated
Charles Ranlett Flint
Computing-Tabulating-Recording Company
[1]
[27]
Binghamton
Dayton, Ohio
Detroit, Michigan
Washington, D.C.
Toronto
citation needed
Thomas J. Watson, Sr.
National Cash Register Company
John Henry Patterson
[28]
antitrust
[29]
[30]
[31]
[32]
THINK
[31]
[31]
[33]
[34]
[35]

NACA
IBM type 704
Nazis
Dehomag
Holocaust
[36]
[37]
M1 Carbine
Automatic Sequence Controlled Calculator
IBM 701
IBM 305 RAMAC
7000
1400
artificial intelligence
Arthur L. Samuel
Poughkeepsie
IBM 704
FORTRAN
SABRE reservation system
American Airlines
Selectric

IBM System/360
University of Michigan

Saturn V Instrument Unit
IBM System/360
IBM System/370
IBM mainframe
mainframe computer
OS/VS1
MVS
CICS
[38]
Sherman Antitrust Act
[39]
Forrest Parry
magnetic stripe card
George J. Laurer
Universal Product Code
[40]
World Bank
financial swaps
[41]
IBM PC
[42]
[43]
AdStar
Lexmark
[44]
Clayton & Dubilier
leveraged buyout
[45]
[46]
[47]
[48]
[49]
Ambra Computer Corporation
clone
PowerPC
workstations
[50]
[51]
[52]
Lou Gerstner
RJR Nabisco
[53]
PwC
PwC
IBM Global Services
[54]
[55]

hard-disk drive
DRAM
UPC bar code
magnetic stripe card
[56]
Compaq
Dell
[57]
[58]
LG
South Korean
[59]
[60]
[61]
[62]
Xnote
[63]
sold all of its personal computer business
Lenovo
[64]
SPSS Inc.
Blue Gene
National Medal of Technology and Innovation
Barack Obama
Watson
Jeopardy!
Kenexa
[65]
web hosting service
[66]
Davao City
[67]
x86
[68]
Power ISA
Apple Inc.
[69]
[70]
[71]
[72]
Tencent
[73]
Cisco
[74]
UnderArmour
[75]
Box
[76]
Microsoft
[77]
VMware
[78]
CSC
[79]
Macy's
[80]
Sesame Workshop
[81]
Sesame Street
Salesforce.com
[82]
[83]
Cleversafe
The Weather Company
Weather.com
[84]
[85]
A Boy and His Atom
Ustream
[86]
[87]
[88]
Groupon
[89]
The Weather Company
[90]
Red Hat
[91]
[92]
[93]
[94]
[95]
Kyndryl
[96]
[97]
[98]
[99]
[100]
[101]
[102]
[103]
Russian invasion of Ukraine
[104]
[105]
[106]
[107]
[108]
Software AG
webMethods
[109]
edit

Armonk, New York

Armonk, New York
[110]
[111]
[112]
[113]
[114]
[update]
[2]
IBM Watson
Astor Place
Austin, Texas
Research Triangle Park (Raleigh-Durham), North Carolina
Rochester, Minnesota
Silicon Valley, California
1250 René-Lévesque
One Atlantic Center
Pangu Plaza
[115]
Beijing National Stadium ("Bird's Nest")
2008 Summer Olympics
IBM India Private Limited
Bangalore
Coimbatore
Chennai
Kochi
Ahmedabad
Delhi
Kolkata
Mumbai
Pune
Gurugram
Noida
Bhubaneshwar
Surat
Visakhapatnam
Hyderabad
Bangalore
Jamshedpur
IBM Rome Software Lab
Hursley House
330 North Wabash
Cambridge Scientific Center
IBM Toronto Software Lab
IBM Building (Seattle)
IBM Hakozaki Facility
IBM Yamato Facility
IBM Canada Head Office Building
[116]
IBM Somers Office Complex
Spango Valley
Tour Descartes
Marcel Breuer
Eero Saarinen
Ludwig Mies van der Rohe
I.M. Pei
Ricardo Legorreta
Honor Award
National Building Museum
[117]
United States Environmental Protection Agency
Fortune 500
commuter
[118]
Endicott, New York
[119]
[120]
edit
Kyndryl
[121]
[122]
Fortune 500
[123]
[124]
[125]
[126]
edit
List of IBM products

Blue Gene
National Medal of Technology and Innovation
[update]
cloud computing
analytics
Internet of things
[127]
IT infrastructure
mobile
[128]
cybersecurity
[129]
IBM Cloud
infrastructure as a service
software as a service
platform as a service
cloud delivery models
Bluemix
SoftLayer
dedicated server
managed hosting
cloud computing
[130]
cryptographic splitting
[131]
Hardware
Power microprocessors
Xbox 360
[132]
PlayStation 3
Nintendo
Wii U
[133]
[134]
Secure Blue
[135]
TrueNorth
neuromorphic
CMOS
integrated circuit
[136]
all-flash arrays
[137]
IT outsourcing
data centers
[138]
IBM Developer
SPSS
statistical analysis
Kenexa
retention
buzzword
BrassRing
[139]
The Weather Company
weather.com
Weather Underground
[140]
Smarter Planet
sustainable development
[141]
[142]
smart grids
[143]
water management
[144]
[145]
[146]
developerWorks
software developers
[147]
IBM Watson
natural language processing
unstructured data
[148]
Jeopardy!
Ken Jennings
Brad Rutter
Memorial Sloan Kettering Cancer Center
oncology
melanoma
[149]
[150]

IBM Q System One
IBM Q System One
[151]
New York City Police Department
IBM Cognos Analytics
CompStat
[152]
[153]
[154]
[155]
Amazon Web Services
[156]
[157]
Lexmark
ThinkPad
ThinkCentre
Lenovo
fabless
semiconductors
GlobalFoundries
Kyndryl
[158]
[159]
Turbonomic
[160]
Watson Health
Francisco Partners
[161]
Rapidus
[162]
[163]
edit

Thomas J. Watson Research Center
Yorktown Heights, New York

IBM Fellow
Benoit Mandelbrot
fractal geometry
Columbia University
IBM Research
[164]
Thomas J. Watson Research Center
Almaden lab
Australia lab
Brazil lab
Haifa lab
Bangalore
Tokyo lab
Zurichlab
Nairobi
R&D
[165]
Watson
[166]
Open Source Initiative
Linux
[167]
Linux Technology Center
Linux kernel
[168]
open-source licenses
platform-independent
software framework
Eclipse
[169]
ICU
Java
relational database management system
Apache Derby
open source
SCO v. IBM
inventions
automated teller machine (ATM)
dynamic random access memory (DRAM)
electronic keypunch
financial swap
floppy disk
hard disk drive
magnetic stripe card
relational database
RISC
SABRE airline reservation system
SQL
Universal Product Code (UPC)
virtual machine
scanning tunneling microscope
individual xenon atoms
[170]
patents
patents
[9]
Leo Esaki
Gerd Binnig
Heinrich Rohrer
scanning tunneling microscope
[171]
Georg Bednorz
Alex Müller
superconductivity
Turing Award
Frances E. Allen
[172]
National Medals of Technology (USA)
National Medals of Science (USA)
edit

John F. Kennedy International Airport
[173]
[174]
dress code
[173]
[175]
graphic designer
Paul Rand
[176]
Helvetica
IBM Plex
Masters Tournament
major championships
iPhone
[177]
Ginni Rometty
Augusta National Golf Club
[178]
U.S. Open
Wimbledon
[179]
Olympic Games
[180]
National Football League
[181]
[182]
Fortune
green company
Newsweek
[183]
Barron's
[184]
Fortune
Fast Company
technology consulting
Vault
[185]
[186]
Drucker Institute
[187]
2022 Russian invasion of Ukraine
Polish Humanitarian Action
People in Need
[188]
ESG
CO2e emissions
[189]
[190]
edit
edit
IBM and unions
List of IBM CEOs


IBM Watson
Jeopardy!
group life insurance
Thomas J. Watson, Jr.
Brown vs. Board of Education
Civil Rights Act of 1964
Human Rights Campaign
[191]
health benefits
genetic information
Working Mother
[192]
human resources
[193]
humanitarian work
[194]
interns
Extreme Blue
[195]
[196]
Master Inventor
IBM Fellow
[197]
Louis V. Gerstner Jr.
[198]
[199]
[200]
[201]
[202]
unions represent some IBM workers
[203]
American football
X-League
Big Blue
[204]
Mac
PC
Linux distribution
[205]
[206]
edit
Apple Inc.
Tim Cook
[207]
EDS
Ross Perot
Microsoft
John W. Thompson
SAP
Hasso Plattner
Gartner
Gideon Gartner
Advanced Micro Devices (AMD)
Lisa Su
[208]
Cadence Design Systems
Anirudh Devgan
[209]
Citizens Financial Group
Ellen Alemany
Yahoo!
Alfred Amoroso
AT&T
C. Michael Armstrong
Xerox Corporation
David T. Kearns
G. Richard Thoman
[210]
Fair Isaac Corporation
Mark N. Greene
[211]
Citrix Systems
Ed Iacobucci
ASOS.com
Lenovo
Steve Ward
Teradata
Kenneth Simonds
Patricia Roberts Harris
United States Secretary of Housing and Urban Development
African American
woman
United States Cabinet
[212]
Samuel K. Skinner
U.S. Secretary of Transportation
White House Chief of Staff
U.S. Senators
Mack Mattingly
Thom Tillis
Wisconsin
Scott Walker
[213]
U.S. Ambassadors
Vincent Obsitnik
Slovakia
Arthur K. Watson
France
Thomas Watson Jr.
Soviet Union
U.S. Representatives
Todd Akin
[214]
Glenn Andrews
Robert Garcia
Katherine Harris
[215]
Amo Houghton
Jim Ross Lightfoot
Thomas J. Manton
Donald W. Riegle Jr.
Ed Zschau
NASA
Michael J. Massimino
Canadian astronaut
Governor General
Julie Payette
Dave Matthews
[216]
Harvey Mudd College
Maria Klawe
Western Governors University
Robert Mendenhall
University of Kentucky
Lee T. Todd Jr.
University of Iowa
Bruce Harreld
NFL
Bill Carollo
[217]
Rangers F.C.
John McClelland
Nobel Prize in Literature
J. M. Coetzee
Thomas Watson Jr.
11th national president
Boy Scouts of America
edit
Anthem
Dow Chemical
Johnson and Johnson
Royal Dutch Shell
UPS
Vanguard
Cornell University
U.S. Navy admiral
[218]
Warren Buffett
holding company
Berkshire Hathaway
[219]
[220]
edit
Portals
Companies
Telecommunication

Electronics

Technology
List of electronics brands
List of largest Internet companies
List of largest manufacturing companies by revenue
Tech companies in the New York City metropolitan region
Top 100 US Federal Contractors
Quantum Energy Teleportation
edit
a
b
Appendix to Hearings Before the Committee on Patents, House of Representatives, Seventy-Fourth Congress, on H. R. 4523, Part III
archived
a
b
"IBM Is Blowing Up Its Annual Performance Review"
Archived
^
"IBM – Arvind Krishna – Chief Executive Officer"
Archived
^
"IBM Newsroom - Gary Cohn"
^
"US SEC: Form 10-K IBM"
U.S. Securities and Exchange Commission
^
"IBM100 - The Making of International Business Machines"
the original
^
"Trust and responsibility. Earned and practiced daily"
^
"10-K"
Archived
a
b
"Top Patent Holders of 2020"
Archived
^
"2021 Top 50 US Patent Assignees"
^
"Why IBM is no longer interested in breaking patent records–and how it plans to measure innovation in the age of open source and quantum computing"
Archived
a
b
"IBM | Founding, History, & Products | Britannica"
^
ISBN
0-470-86412-5
^
"Origin of the IBM PC | Low End Mac"
^
"IBM Tops U.S. Patent List for 28th Consecutive Year with Innovations in Artificial Intelligence, Hybrid Cloud, Quantum Computing and Cyber-Security"
^
"IBM unveils new quantum computing chip to 'explore new frontiers of science'"
ISSN
0261-3077
^
"The Evolution Of AI: From IBM And AWS To OpenAI and Anthropic"
^
"IBM Realigns Its Storage Business To Match Data-Driven Enterprise Needs"
^
"About us"
^
"Fortune 500"
^
Schofield, Jack
"IBM shows growth after 22 straight quarters of declining revenues, but has it turned the corner?"
the original
^
"IBM Brand Ranking | All Brand Rankings where IBM is listed!"
^
Images of America: IBM in Endicott
Arcadia Publishing
ISBN
0-7385-3700-4
Archived
^
"Dey dial recorder, early 20th century"
Archived
^
"Hollerith 1890 Census Tabulator"
Columbia University
Archived
^
"Employee Punch Clocks"
the original
^
"Tabulating Concerns Unite: Flint & Co. Bring Four Together with $19,000,000 capital"
Archived
^
The Lengthening Shadow: The Life of Thomas J. Watson
89–93
^
ISBN
978-1-000-87875-2
^
a
b
c
"Chronological History of IBM, 1910s"
Archived
^
Wherever Men Trade: The Romance of the Cash Register
ISBN
978-0-405-04713-8
OCLC
243101
^
^
"Made in the USA: American tech inventions"
^
^
IBM and the Holocaust: The Strategic Alliance Between Nazi Germany and America's Most Powerful Corporation
ISBN
978-0-914153-10-8
^
ISBN
978-1-4594-0987-3
^
Campbell-Kelly, Martin
MIT Press
^
"Monopolization: Corporate Strategy, the IBM Cases, and the Transformation of the Law"
Texas Law Review
Archived
^
"The history of the UPC bar code and how the bar code symbol and system became a world standard"
Archived
^
McGraw Hill
^
"'Break Up IBM,' Cry Some Investors Who See Value in Those Baby Blues"
^
"Big Blue still breaking up its bureaucracy"
^
"Facts, Figures on IBM's 13 Decentralized Firms"
^
"The Executive Computer; Can I.B.M. Learn From a Unit It Freed?"
^
"IBM Plans Division For Its PC Business; One Executive Expected to Be Put in Control"
the original
^
"With New Approach and Executive Team, IBM Seeks a Rebirth"
the original
^
"IBM to Unveil New Structure of PC Business"
^
"IBM reports record loss of $8 billion"
^
"I.B.M. and Dell Stake Out the Little Picture in PC's"
the original
^
"IBM Power Personal Systems group to be folded into PC Co"
^
"Life science: Fade or flourish ?"
the original
^
"IBM Archives: Louis V. Gerstner, Jr"
Archived
^
"IBM to acquire PwC Consulting for $3.5 billion"
^
"IBM grabs consulting giant for $3.5 billion"
^
"Not Your Father's PC Company Anymore"
^
"The Strategy For I.B.M.: Loss-Leader PC Sales"
ISSN
0362-4331
^
"Big Blue to combine PC division with PSG"
^
"IBM, LG Electronics Call Halt To PC Joint Venture in Korea"
The Wall Street Journal
ISSN
0099-9660
^
"LG, IBM to split by end of year"
Korea JoongAng Daily
^
"IBM, LG Electronics to End Joint Venture"
Forbes
the original
^
Vance, Ashlee
"South Korea slams IBM with server slush fund charges"
^
"Laptop Retrospective"
^
"Lenovo Completes Acquisition Of IBM's Personal Computing Division"
Archived
^
"IBM Plans to Acquire Texas Memory Systems"
Archived
^
"IBM to buy website hosting service SoftLayer"
Archived
^
"Inside the Video Surveillance Program IBM Built for Philippine Strongman Rodrigo Duterte"
Archived
^
"Lenovo says $2.1 billion IBM x86 server deal to close on Wednesday"
Archived
^
"Apple + IBM"
Archived
^
"Apple Teams Up With IBM For Huge, Expansive Enterprise Push"
Archived
^
"Landmark IBM Twitter partnership to help businesses make decisions"
Archived
^
"IBM Announces Marketing Partnership With Facebook"
Archived
^
"Tencent teams up with IBM to offer business software over the cloud"
Archived
^
"Cisco and IBM's New Partnership Is a Lot About Talk"
Archived
^
"IBM, Under Armour Team Up To Bring Cognitive Computing To Fitness Apps"
Archived
^
"IBM, Box Cloud Partnership: What It Means"
Archived
^
"Microsoft just made a deal with IBM – and Apple should be nervous"
Archived
^
"VMware and SugarCRM expand partnerships with IBM, make services available on IBM Cloud"
Archived
^
"IBM, CSC Expand Their Cloud Deal to the Mainframe"
^
"Macy's Taps IBM, Satisfi for In-Store Shopping Companion"
^
"Sesame Workshop, IBM partner to use Watson for preschoolers"
Archived
^
"IBM, Salesforce Strike Global Partnership on Cloud, AI"
Archived
^
"IBM Buys Merge Healthcare to Boost Watson Health Cloud"
Archived
^
"IBM Agrees to Acquire Weather Channel's Digital Assets"
Archived
^
"IBM to Acquire the Weather Company"
Archived
^
"IBM acquires Ustream, launches cloud video unit"
Archived
^
"IBM Acquires Ustream: Behind the Acquisition"
Archived
^
"Big Blue isn't so big anymore"
Archived
^
"Groupon sues 'once-great' IBM over patent"
Archived
^
"IBM Buys Digital Part of The Weather Company"
Archived
^
"IBM to Acquire Red Hat for About $33 Billion"
The Wall Street Journal
ISSN
0099-9660
Archived
^
"IBM to Acquire Linux Distributor Red Hat for $33.4 Billion"
Archived
^
"IBM to acquire Red Hat, completely changing the cloud landscape and becoming world's #1 hybrid cloud provider"
Archived
^
"IBM Closes Landmark Acquisition of Red Hat for $34 Billion; Defines Open, Hybrid Cloud Future"
Archived
^
"IBM To Accelerate Hybrid Cloud Growth Strategy And Execute Spin-Off Of Market-Leading Managed Infrastructure Services Unit"
Archived
^
"IBM to break up 109-year old company to focus on cloud growth"
Archived
^
"IBM spins off a quarter of the company to focus on the cloud"
Archived
^
"IBM shares rise on plans to spin off its IT infrastructure unit and focus on the cloud business"
Archived
^
"IBM to Spin Off Services Unit to Accelerate Cloud-Computing Pivot"
Archived
^
"IBM Splits Into Two Companies"
Archived
^
"IBM Spinning Off Infrastructure Managed Services Group To Focus On Cloud Is A Good Move"
Archived
^
"IBM names Martin Schroeter as CEO of $19B NewCo services spinoff"
Archived
^
"IBM names former financial chief Martin Schroeter as head of new IT infrastructure services company"
The Economic Times
Reuters
Archived
^
"Update on Our Actions: War in Ukraine"
^
"IBM finally shutters Russian operations, lays off staff"
^
"IBM Extends Watson.x Governance & Compliance with Manta Acquisition"
^
"IBM suspends ads on X after corporate ads appeared next to pro-Nazi content"
^
"Advertisers Push Back at Social Media Firms over Antisemitism"
^
"IBM to buy Software AG's enterprise integration platforms for $2.3 billion"
^
"Contact Us"
Archived
^
"Dominance Ended, I.B.M. Fights Back"
Archived
^
"IBM's New Headquarters Reflects A Change in Corporate Style"
The New York Times
Archived
^
"On the Dedication of the Louis V. Gerstner, Jr., Center for Learning – THINK Blog"
Archived
^
"Property Overview"
the original
^
"Company Overview of IBM China Company Limited"
Archived
^
"Watson IoT Headquarters"
Archived
^